:root {
    --color-primary: #f95252;
    --color-text: #fff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--color-white);
}


.menu-bar {
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 0 2em;
    /* text-align: center; */

    position: relative;
}

.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;

    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: var(--color-black);
}

.hero {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 20px;
}

.menu-bar ul li a.disable{
    pointer-events: none;
    cursor: default;
    color: var(--color-black);
}
