:root {
    --color-primary: #f95252;
    --color-white: #e9e9e9;
    --color-text: #fff;
    --color-black: #141d28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--color-white);
}


.menu-bar {
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 0 2em;
    /* text-align: center; */

    position: relative;
}

.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;

    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: var(--color-black);
}

.hero {
    height: calc(100vh - 80px);
    flex-direction: column;
}

.text {
    height: 30%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.btn {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30% 7%;
}

.button_record {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    padding: 9px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button_record:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button_record:hover {
    background-color: #2c974b;
}

.button_record:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button_record:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button_record:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.menu-bar ul li a.disable{
    pointer-events: none;
    cursor: default;
    color: var(--color-black);
}