:root {
    --color-primary: #f95252;
    --color-white: #e9e9e9;
    --color-text: #fff;
    --color-black: #141d28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--color-white);
}

h2 {
    text-align: center;
}


.menu-bar {
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 0 2em;
    /* text-align: center; */

    position: relative;
}

.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;

    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: var(--color-black);
}

.hero {
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
}

.menu-bar ul li a.disable{
    pointer-events: none;
    cursor: default;
    color: var(--color-black);
}

.reg{
    background-color: var(--color-text);
    border-radius: 1.25em;
    display: grid;
    gap: 0.875em;
    padding: 2em 1.625em;
    border: 1px solid;
}

.reg input[type="text"],
.reg input[type="password"],
.reg input[type="date"],
.reg input[type="number"],
.reg select {
    background-color: var(--color-text);
    color: #777;
    padding: 0.5em 0.625em;
    width: 100%;
    font-size: 1em;
    border-radius: 0.1875em;
    border: 1px solid;
}

.reg input[type="submit"] {
    display: block;
    margin: 0 auto;
}

.col{
    display: flex;
    flex-direction: row;
}

.field{
    width: 100%;
}

.l{
    padding-left: 2em;
    padding-right: 3em;
}

.r{
    padding-right: 2em;
    padding-left: 3em;
}

.one{
    padding: 0 2em;
}

.d{
    margin: 0.25em 0;
}

h3{
    text-align: center;
}

.button {
    margin: 2% 30% 0;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 0.5em;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 20px;
    padding: 0.625em 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: #2c974b;
}

.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}